html{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: #141414;
    color: white;
height: 100%;
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
   
}


main{
    background-color: #1f1f1f;
    width: 384px;
    height: 610px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

img{
    margin-top: 40px;
    border-radius: 50%;
}

h1{
    font-weight: 600;
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 23px;
}

#descriptionText{
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 26px;
}

button{
    background-color: #333333;
    border: none;
    color: white;
    width: 304px;
    height: 45px;
    border-radius: 10px;
    font-weight: 600;
    
    cursor: url("img/customCursor.png"),auto;
    padding: 0px;
    box-sizing: border-box;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;


    
}

button:hover{
background-color: #C4f82a;
color: #1f1f1f;
}

#locationText{
    color: #C4f82a;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;


}

#lastButton{
    margin-bottom: 40px;
}